.mvn/
.idea/
target
.settings
.DS_Store
.settings/
.project
.classpath
*.class
bin/
*.ipr
*.iws
*.iml
*.iws
*.ids
/*.iml
.orig
*.iml
*.orig
hb*.sh
*.MF
config-dev.properties
/.metadata
log.home
*/target
/*/target